<div class="truck">
    <h3>ID: {{truck?.id}}
        <!-- <fa-icon
        [ngStyle]="{'color': 'red'}"
        [icon]="faTimes"
        (click)="onDelete(truck)"
    ></fa-icon> -->
    </h3>
    <p>Tare: {{truck?.tare}}</p>
    <p>Load capacity: {{truck?.loadCapacity}}</p>
    <p>Maximum battery charge: {{truck?.maximumBatteryCharge}}</p>
    <p>Autonomy when fully charged: {{truck?.autonomyWhenFullyCharged}}</p>
    <p>Fast charging time: {{truck?.fastChargingTime}}</p>
    <p>Is active: {{truck?.isActive}}</p>
    <app-button 
    color="{{truck?.isActive ? 'red' : 'green'}}"
    text="{{truck?.isActive ? 'Inhibit' : 'Activate'}}"
    (btnClick)="onInhibit()"
    data-testid="inhibit-truck-button"
    ></app-button>
</div>
